h1 {
    color: goldenrod
}

.header{
    background-color: blanchedalmond;
    font-size: 35px;
    color: royalblue

}

.container{
    display: flex
}
.box {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    margin: 10px;
    }
